@import "tailwindcss";

:root {
  --color-goldenrod: #daa520;
  --color-goldenrod-800: #6d5310;
  --color-goldenrod-900: #48370b;
  --color-black: #121212;
  --color-dark: #232323;
  --color-gray: #666666;
  --color-white: #efefef;
}

@theme inline {
  --color-background: var(--color-black);
  --color-foreground: var(--color-white);
  --font-montserrat: var(--font-montserrat);
  --font-handlee: var(--font-handlee);

  /* Custom */
  --color-primary: var(--color-goldenrod);
  --color-secondary: var(--color-goldenrod-800);
  --color-tertiary: var(--color-goldenrod-900);
  --color-black: var(--color-black);
  --color-dark: var(--color-dark);
  --color-gray: var(--color-gray);
  --color-white: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-goldenrod: #daa520;
    --color-black: #121212;
    --color-dark: #232323;
    --color-gray: #666666;
    --color-white: #efefef;
  }
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}
